<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Doctor Patient App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/doctors/add" routerLinkActive="mat-accent"
        >Add Doctor</a
      >
      <a mat-button routerLink="/doctors" routerLinkActive="mat-accent"
        >Doctors</a
      >
      <a mat-button routerLink="/patients/add" routerLinkActive="mat-accent"
        >Add Patient</a
      >
      <a mat-button routerLink="/patients" routerLinkActive="mat-accent"
        >Patients</a
      >
    </li>
  </ul>
</mat-toolbar>
